.page {
  height: 100%;

  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  #main {
    position: relative;
    display: flex;
    align-items: stretch;
    height: 100%;

    #navbar {
      position: fixed;
      top: 4rem;
      height: 100%;
    }

    #content {
      width: calc(100% - 15rem);
      margin: 4rem 0 2rem 15rem;
    }
  }
}
