html {
  height: 100%;
  min-height: 100% !important;
}

body {
  height: 100%;
  min-height: 100% !important;
  background-color: #f6f6f6;
  margin: 0;
  font-family: Arial, "PingFangSC-Regular", "Microsoft YaHei", sans-serif !important;
}

#root{
  height: 100%;
  min-height: 100% !important;
}