.navbar {
  position: relative;
  background-color: #30353c;
  color: white;
  height: 100%;
  width: 15rem;
  overflow: auto;

  &__list {
    margin: 0;
    margin-top: 1rem;
    padding: 0;

    &__item {
      list-style-type: none;
      cursor: pointer;

      &:hover {
        background-color: lighten($color: #30353c, $amount: 10);
      }

      &.active {
        background-color: lighten($color: #30353c, $amount: 10);
      }

      &__link {
        color: white;
        text-decoration: none;
        display: flex;
        padding: 1rem 0 1rem 2rem;

        &__title {
          margin-left: 1rem;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
