@mixin table-columns {
  &__date {
    width: 20%;
  }

  &__coin {
    width: 10%;
  }

  &__amount {
    width: 20%;
  }

  &__status {
    width: 10%;
  }
}

#history {
  position: relative;
  height: 100%;

  .content-header {
    font-size: 2rem;
    padding: 1.5rem 2rem;
    background-color: white;
  }

  .content-main {
    font-size: 2rem;
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: 0.4rem;

    &__table {
      font-size: 0.8rem;
      border: 1px solid rgb(245, 245, 245);
      border-radius: 0.3rem;

      &__header {
        display: flex;
        padding: 1rem;
        color: rgb(112, 122, 138);
        background-color: rgb(245, 245, 245);
        border-radius: 0.3rem 0.3rem 0 0;
        @include table-columns;
      }

      &__content {
        &__row {
          display: flex;
          padding: 1rem;
          color: rgb(112, 122, 138);
          border-radius: 0 0 0.3rem 0.3rem;
          border-top: 0;
          @include table-columns;
          
        }
      }
    }
  }
}
